ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: inline-block;
    text-align: center;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }

  .nav {
    margin: 0 auto;
  }

.shelter {
    background: rgb(0, 0, 0, 0.85);
    padding: 6px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    width: 35%;
    margin: 0 auto;
}

.possible {
    background: rgb(0, 0, 0, 0.85);
    padding: 6px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    width: 35%;
    margin: 0 auto;
}
.serious {
    background: rgb(0, 0, 0, 0.85);
    padding: 6px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    width: 35%;
    margin: 0 auto;
}

body {
    background-image: url('1800x1200_coronavirus_1.jpg');
background-attachment: fixed;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}